#sideMenu ul{
  list-style: none;

}

#font{
  font-family: "Dancing script",cursive;
  font-size: 2rem;
}

#root{
  display: flex;
  overflow-x: hidden;
}
#megaMenu{
  display: grid;
  grid-template-columns: 150px 150px;
  font-size: 1rem;
}
.menu-icon{
  background-color:rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  border-radius: 50%;
  margin-right:10px ;

}

.redgradient{
  background:linear-gradient(rgb(255, 153, 153),rgb(196, 66, 68));
  height: 60px;
  
}

.redgradient > div{
  position: relative;
  bottom: 9px;
}

.redgradient *{
  color: white !important;
}

.level1{
  text-transform: uppercase;

}

.level1 *{
  text-transform: initial;
}

.graphCard{
  padding: 20px;
}

.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.show {
  transition: max-height 0.3s ease-out;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease-out;
}

.rotate0 {
  transform: rotate(0deg);
  transition: transform 0.3s ease-out;
}